<section id="home" class="home">
  <div class="container-fluid flu">
      <nav class="navbar navbar-expand-lg">
        <img src="../../assets/images/Logo.png" alt="logo">
        <a class="navbar-brand ht">Power<span style="color:red"> Zone</span></a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#home" >Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#exer" >Exercises</a></li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="pwt" >Power Fitness</h3>
          <h1 class="head">Love Yourself Enough To Work Harder</h1>
          <p style="font-size: 1.1rem;" ><strong>Check out the most effective exercises personalized to you</strong></p>
          <a href="#exer">
            <button type="button" class="btn btn-lg e-btn">Explore Exercises</button>
          </a>
        </div>

        <div class="col-lg-6">
          <img src="../../assets/images/banner.png" class="image" alt="banner">
        </div>

      </div>

  </div>
</section>
<app-show-results [ads]="ads"></app-show-results>
